.employees {
  padding: 5rem 0 10rem 0;
  &-container {
    display: block;
    margin: 0 auto;
    max-width: 96rem;
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }
}