/* 1 line to make a flex row */
section.container { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
}

section.container > app-card {
  display: block;
  flex: 0 0 calc((100% - 2*16px) / 3);
  max-width: calc((100% - 2*16px) / 3);
}